<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">
  <!-- demo only -->
  <meta name="robots" content="noindex,nofollow">
  <title>Viksit Arora - Resume</title>
  <!-- Styles
  ================================================== -->
  <link rel="stylesheet" type="text/css" media="screen" href="assets/bootstrap.css">
  <!-- <link rel="stylesheet" type="text/css" media="screen" href="assets/font-awesome.css"> -->
  <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

  <link rel="stylesheet" type="text/css" media="screen" href="assets/open-sans.css">
  <link rel="stylesheet" type="text/css" media="screen" href="assets/style.css">

</head>

<body>
  <div class="container wrapper">
    <!-- Heading 
    ================================================== -->
    <div class="row heading">
      <div class="col-md-12">
        <img height="175px" width="190px" class="my-picture" src="viksit.jpg" alt="Photo of Viksit Arora">
        <h1 class="my-name">Viksit Arora</h1>
        <h2 class="my-profession">Web Developer<a class="github-link" href="https://github.com/enliven-?tab=repositories"><i class="fa fa-github"></i>enliven-</a></h2>
        <p class="my-message">An ambitious problem solver with a passion for web application development. Having worked as a freealnce software developer for the last few years, I have developed the requisite expertise to design and execute complex software projects for a diverse variety of users. I am a pretty positive person, and absolutely love traveling and teaching!</p>
        </div>

      </div>

    <!-- Resume 
    ================================================== -->
    <div class="row resume">
      <!-- column 1 -->
      <div class="col-md-4">
        
        <h3 class="my-caption">Education</h3>
        <h4 class="my-activity">B.S. in Computer Science & <br/>
        Mechanical Engineering</h4>

        <h5 class="my-venture">MIT <span>June '15</span></h5>

        <h3 class="my-caption">Research Projects & Fellowships</h3>

        <h4 class="my-activity">Tau Beta Pi Fellowship </h4>
        <h5 class="my-venture">Golden Hour Ambulance Service</h5>
        <p class="my-specifics">Very competitive MIT public service project fellowship. Proposed Uber like tracking for ambulances in India. Responsible for idea generation, implementing the backend and part of frontend</p>

        <h4 class="my-activity">Chief Lead, Suspension</h4><!-- <span>Jan'14</span> -->
        <h5 class="my-venture">MIT VDS</h5>
        <p class="my-specifics">Vehicle Design Summit was a student lead initiative to make a smaller, greener and a more efficient car (Vision100) for developing econimies like India. Responsible for an in-depth trade-study of suspension technologies. Worked on refining trade-study process for future use by MIT VDS </p>

        <h4 class="my-activity">Research Associate</h4><!-- <span>Jan'14</span> -->
        <h5 class="my-venture">Smart Cities, MIT Media Lab</h5>
        <p class="my-specifics">Part of the suspension systems team. Worked on wheel-robots for a stackable electric two passenger vehicle titled CityCar. </p>

      </div>
      <!-- column 2 -->
      <div class="col-md-4">
        
        <h3 class="my-caption">Employment</h3>

        <h4 class="my-activity">Software Engineer Intern</h4>
        <h5 class="my-venture">Amazon<span>May'13 - Aug'13</span></h5>
        <p class="my-specifics">Part of the Search & Discovery team. Worked on an in-beta service that helps in improving search results by integrating amazon-facebook-connect information with regular search algorithms. Additionally, setup an in-house graphing tool to help monitor user authentication statistics</p>

        <h4 class="my-activity">Full Stack Developer</h4>
        <h5 class="my-venture">MIT Sloan StartUp<span>Feb'13 - May'13</span></h5>
        <p class="my-specifics">MIT Sloan funded early stage start up that connects artisans in India with buyers in countries like the U.S. Implemented the minimal viable product with features including but not limited to authentication system, cataloging system and a linear version controlled design editing tool.</p>

        <h4 class="my-activity">Consultant & Backend Developer</h4>
        <h5 class="my-venture">Oroeco Inc.<span>Dec'12 - Feb'13</span></h5>
        <p class="my-specifics">Oroeco is Stanford based startup that helps you make better buying choices with respect to environmental impact. Responsible for implementing various parts of the web app including authentication system and feedback form; and extensive testing with rspec and capybara</p>

      </div>
      <!-- column 3 -->
      <div class="col-md-4">

        <h3 class="my-caption">Programming Languages</h3>

        <h4 class="my-skill">
          Ruby
          <span class="pull-right">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
          </span>
        </h4>

        <h4 class="my-skill">
          Python
          <span class="pull-right">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
          </span>
        </h4>

        <h4 class="my-skill">
          Java
          <span class="pull-right">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
          </span>
        </h4>

        <h4 class="my-skill">
          Lisp
          <span class="pull-right">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
          </span>
        </h4>

        <h4 class="my-skill">
          Javascript &amp; jQuery
          <span>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
          </span>
        </h4>
        <h4 class="my-skill">
          HTML &amp; CSS
          <span>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
          </span>
        </h4>


        <h3 class="my-caption">Web Frameworks</h3>
        <h4 class="my-skill">
          Ruby on Rails
          <span>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
          </span>
        </h4>
        <h4 class="my-skill">
          Sinatra
          <span>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
          </span>
        </h4>
        <h4 class="my-skill">
          Padrino
          <span>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
          </span>
        </h4>
        <h4 class="my-skill">
          Django
          <span>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
          </span>
        </h4>
        <h4 class="my-skill">
          Flask
          <span>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star-o"></i>
            <i class="fa fa-star-o"></i>
          </span>
        </h4>

        <h3 class="my-caption">Selected Coursework</h3>
          <h4 class="my-skill">Software Studio<span><i class="fa fa-check"></i></span></h4 class="my-skill">
          <h4 class="my-skill">User Interface Design <span><i class="fa fa-check"></i></span></h4 class="my-skill">
          <h4 class="my-skill">Algorithm & Data Structures <span><i class="fa fa-check"></i></span></h4 class="my-skill">
          <h4 class="my-skill">Computer Systems Engineering <span><i class="fa fa-check"></i></span></h4 class="my-skill">
          <h4 class="my-skill">Elements Of Software Construction<span><i class="fa fa-check"></i></span></h4 class="my-skill">

        </ul>

      </div>
    </div>
    <!-- end of resume -->

    <!-- Current Projects 
    ================================================== -->

    <h3 class="my-caption">Current Projects</h3>

    <div class="row">
      
      <div class="col-md-4 portfolio-item masonry-brick">
        <div class="portfolio-details">
          <h4>task-it</h4>
          <img width="250px" height="" src="taskit.png" alt="image description">
          <p>task-it is place to list and grab tasks for money or other favors amongst closed knit communities. Building a mvp for a friend.</p>
        </div>
      </div>
      
      <div class="col-md-4 portfolio-item masonry-brick">
        <div class="portfolio-details">
          <h4>bhushan-delivers</h4>
          <img width="250px" height="" src="bhushandelivers.png" alt="image description">
          <p>Building a cool interface for grocery shopping experience that mostly entails getting things on a list.</p>
        </div>
      </div>
      
      <div class="col-md-4 portfolio-item masonry-brick">
        <div class="portfolio-details">
          <h4>translatr</h4>
          <img width="250px" height="" src="translatr.png" alt="image description">
          <p>translatr is web language learning webapp I am building to help me pick up Spanish.</p>          
        </div>
      </div>

    </div>

    <!-- end of Current projects -->

    <!-- Contact -->

    <div class="row contact">
      <!--column 1 -->
      <div class="col-md-4">
        <h3 class="my-caption">Personal Information</h3>
        <h4 class="my-info">Address <span>235 Albany Street</span></h4>
        <h4 class="my-info">&nbsp;<span>Cambridge</span></h4>
        <h4 class="my-info">&nbsp;<span>MA, 02139</span></h4>
      </div>
      <!--column 2 -->
      <div class="col-md-4">
        <h3 class="my-caption">Contact Me</h3>
        <h4 class="my-info">
          <i class="fa fa-phone"></i> Phone
          <span>+91-9779860223</span>
        </h4>
        <h4 class="my-info">
          <i class="fa fa-mobile"></i>&nbsp; &nbsp; Cell
          <span>+1-949-484-5748</span>
        </h4>
        <h4 class="my-info">
          <i class="fa fa-envelope"></i> Email
          <span>
            <a href="mailto:viksit@mit.edu">viksit@mit.edu</a>
          </span>
        </h4>
        <h4 class="my-info">
          <i class="fa fa-globe"></i> Website / Blog
          <span>
            <a href="#" target="_blank">www.aboutme.io/viksit</a>
          </span>
        </h4>
      </div>
      <div class="col-md-4">
        <h3 class="my-caption">Follow Me</h3>
        <h4 class="my-info">
          <i class="fa fa-google-plus"></i> 
          <span>
            <a href="#" target="_blank">Google+</a>
          </span>
        </h4>
        <h4 class="my-info">
          <i class="fa fa-facebook"></i>
          <span>
            <a href="#" target="_blank">facebook</a>
          </span>
        </h4>
        <h4 class="my-info">
          <i class="fa fa-twitter"></i>
          <span>
            <a href="#" target="_blank">Twitter</a>
          </span>
        </h4>
        <h4 class="my-info">
          <i class="fa fa-linkedin"></i>
          <span>
            <a href="#" target="_blank">LinkedIn</a>
          </span>
        </h4>
      </div>
      <!-- end of column 3 -->
    </div>
    <!-- end of contact -->
  </div>
  <!-- end of container -->
  <!-- Javascript
  ================================================== -->
  <script src="assets/jquery.js"></script>
  <script src="assets/bootstrap.js"></script>
  <script src="assets/masonry.js"></script>
  <script src="assets/script.js"></script>
</body>

</html>

